@tailwind base;
@tailwind components;
@tailwind utilities;

#card{
    position: absolute;
    top: 132px;
}
#profilecard{
background-color: #CDD2FF;

}

#userImage{
    position: absolute;
width: 186px;
height: 175px;
left: 142px;
top: 183px;
background:src(public/chloeCarter.png)
}

#profileChange{
    margin:auto;
    color: #809AF6;
}    

#profileChange:hover{
    color: #7090FF;
}

#voiceswapbox{
    box-shadow: 0px 4px 4px #9B57F1;
}